{
    "semi": false,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 100,
    "tabWidth": 2,
    "overrides": [
      {
        "files": "*.js",
        "options": {
          "parser": "babel"
        }
      },
      {
        "files": "*.jsx",
        "options": {
          "parser": "babel",
          "jsxSingleQuote": true
        }
      },
      {
        "files": "*.css",
        "options": {
          "parser": "css",
          "singleQuote": false,
          "trailingComma": "none",
          "tabWidth": 2
        }
      }
    ]
  }
  